<div className="phpdocumentor-element -constant -{{ constant.visibility }} {% if constant.deprecated %}-deprecated{% endif %}">
#### {{ constant.name }}

{{ include('components/element-found-in.html.twig', {'node': constant}) }}
{{ include('components/summary.html.twig', {'node': constant}) }}
{{ include('components/constant-signature.html.twig', {'node': constant}) }}

{{ include('components/description.html.twig', {'node': constant}) }}
{{ include ('components/tags.html.twig', {tags: constant.tags}) }}
</div>
