{% extends 'base.html.twig' %}

{% set deprecatedElements = project.indexes.elements|filter(element => element.deprecated) %}
{%
    set filesWithDeprecatedElements = deprecatedElements|reduce(
        (unique, item) => item.file.path in unique|keys ? unique : unique|merge({(item.file.path): item.file}), {}
    )
%}

{% block title %}
    {{ project.name }} &raquo; Deprecated elements
{% endblock %}

{% block content %}
 

    <div className="phpdocumentor-row">
        # Deprecated

        {% for file in filesWithDeprecatedElements %}
            <a id="{{ file.path }}"></a>
            ## {{ file.name }}

           
{% for element in deprecatedElements|filter(el => el.file == file) %}
{% if loop.first %}
| Line          | Element     |   Reason    |
| :------------ | :---------: | ----------: |
{% endif %}
{% for tag in element.tags.deprecated %}| {{ element.line }} | {{ element|route}} | {{ tag.description }} |{% endfor %}
{% endfor %}

        {% else %}
            <div className="phpdocumentor-admonition phpdocumentor-admonition--success">
                No deprecated elements have been found in this project.
            </div>
        {% endfor %}
    </div>
{% endblock %}
